#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 90%;
}

#map {
  width: 250px;
}

.app {
  background: rgba(255, 255, 255, 0.8);
  font-family: "Roboto Slab", serif;
  padding: 20px 10px;
  margin: 20px 15px 8px 15px;
  display: block;
  border-radius: 25px;
  border: 1px solid black;
  opacity: 75%;
  position: relative;
}

#cityTemp {
  padding: 0 0 0 30px;
}

h2 {
  padding: 0 0 0 10px;
}

h3 {
  padding: 10% 0 0 0;
}

h4 {
  padding: 2px 0 0 40%;
  font-size: 15px;
}

#forecast-min-temp {
  font-size: 15px;
  color: grey;
  padding: 0;
  margin: 0;
}

#temperature {
  font-size: 40px;
}

#forecast-icon {
  position: relative;
  width: 60%;
  height: 60%;
}

.body {
  margin: 50px auto;
  padding: 0 0 0 10%;
}

.units {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.end .col-lg-2 {
  border: 0.5px solid black;
  border-radius: 2px;
}

.weather-forecast-temperature {
  padding: 0 0 0 10%;
}

p {
  text-align: center;
  font-size: 10px;
  font-family: "Roboto Slab", serif;
  color: white;
  opacity: 80%;
}

#name {
  color: white;
  opacity: 80%;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .app {
    margin: 60px 100px 5px 100px;
  }
  .body {
    margin: 50px auto;
    padding: 0 0 0 0;
  }
}

@media (min-width: 992px) {
  .app {
    margin: 60px 100px 5px 100px;
  }
  .body {
    margin: 50px auto;
    padding: 0 0 0 0;
  }
}

@media (min-width: 1200px) {
  .app {
    margin: 60px 100px 5px 100px;
  }
  .body {
    margin: 50px auto;
    padding: 0 0 0 0;
  }
}
